services:
  - type: web
    name: smartclassroommanagamentsystem
    env: python
    region: frankfurt  # or oregon, singapore, etc.
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn app:app
    plan: free
    envVars:
      - key: FLASK_ENV
        value: production
      - key: SECRET_KEY
        generateValue: true
